:root {
    --wit: #f9f9ec;
    --groen: #a6e3c5;
    --blauw: #bab9e9;
    --roos: #a33369;
}

* {
    font-family: 'Comic Sans MS', cursive;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--wit);
}
#searchcontainer {
    width: 50%;
    margin: 20px auto 50px auto;
}
#search {
    width: 100%;
    background-color: var(--groen);
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
#search:focus {
    outline: none;
}
#recomendations {
    width: 50%;
    position: absolute;
    background-color: var(--groen);
    border-radius: 10px;
    display: none;
    padding: 10px;
    padding-right: 0;
    z-index: 2;
}
.option {
    background-color: var(--groen);
}
.option:hover {
    background-color: var(--roos);
}


form {
    width: 70vw;
    margin-left: 20vw;
}
select, button {
    border: var(--roos) 3px solid;
    border-radius: 5px;
    color: var(--roos);
    padding: 0 10px 0 10px;
}
#studentvakcontainer {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
}
.studentvak {
    width: 200px;
    height: 200px;
    background-color: var(--groen);
    display: grid;
    grid-template-rows: 70% 30%;
    margin-top: 20px;
}
.studentphoto, #studentphotobig {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -20px; 
}
#studentname {
    font-size: 20px;
    text-align: center;
    z-index: 1;
}
#studentinfocontainer {
    background-color: var(--wit);
    border: 10px solid var(--groen);
    border-radius: 20px;
    height: 50vh;
    width: 40vw;
    position: absolute;
    margin: 25vh 0 0 30vw;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: 70% 30%;
    display: none;
    z-index: 2;
}
#studentinfo {
    padding: 10px;
}

svg {
    position: absolute;
    width: 400px;
    height: 400px;
    stroke: var(--blauw);
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    transform: translate(-100px, -100px);
    pointer-events: none;
}

svg > path {
    transform: scale(10);
}

@media only screen and (min-width: 900px) {
    #studentvakcontainer {
        width: 800px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .studentvak {
        justify-self: center;
    }
  }